@{
    ViewData["Title"] = "Index";

}



<form>
    <h1>Product Inventory</h1>
    <a asp-action="Add">Add</a><br/>
    @*<a href="Home/Add">Add</a><br />*@
    <a href="Home/list">View All Product</a>
</form>

