
@model test.ViewModels.HomeIndexViewModel



@{
    ViewBag.Title = "List";
}

<h1>Product Inventory System</h1>
<hr />

<html>
<body>
  
    <table style="width:100%">
        <tr>
            <td>
                <label>Name:</label>
            </td>
            <td>
                <label>Price:</label>
            </td>
            <td>
                <label>Quantity:</label>
            </td>
            <td>
                <label>Type:</label>
            </td>
        </tr>
        @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.Type
            </td>
            <td>
                <a href="update/@item.Name">update</a>
            </td>

            <td>
                <a href="delete/@item.Name">delete</a>
            </td>


        </tr>
}

    </table>
</body>
</html>
